
/* Navigation Bar */

#navbar{
	ul{
		list-style: none;
		position: absolute;
		top: 112px;
		right: 0;
		li{
			float: left;
			margin-left: 10px;
			padding: 10px;
			font-size: 14px;
			text-transform: uppercase;
			color: lighten(black,40);
			font-family: Helvetica Neue, sans-serif;
			&.active{
				padding:9px;
				border:1px solid lighten(black, 40);
				background:white;
				border-bottom: none;
			}
		}
		a{
			color:lighten(black, 20);
			text-decoration: none;
		}
	}
}

#navbar-l2{
	$border: lighten(black,40);
	position: absolute;
	top:240px;
	left: 770px;
	display:none;
	ul{
		//border-left: 1px solid $border;
		border-top: 1px solid ;
		//border-right: 1px solid $border;
		width: 150px;
		background:white;
		&:first-child{
			border-left: 1px solid lighten(black, 40);
			border-bottom:1px solid lighten(black, 40);
			border-right:1px solid lighten(black, 40);
		}
		li{ // All links
			padding:8px;
			a{
				font-family: Helvetica Neue, sans-serif;
				color:lighten(black, 20);
				text-decoration: none;
			}
			&.active{
				background:darken(white,30);
				&:after{
					content:">";
					position:absolute;
					right: 10px;
					color:white;
				}

			}
			ul{	
				display: none;
				background: darken(white, 4);
				position: absolute;
				left:150px;
				width: 250px;
				top:0;
				border:1px solid $border;
				&.active{
					display: block;
				}
				li{
					&.active{
						background: darken(white,30);
						&:after{
							content:none;
						}
					}
				}
			}
		}
	}
}