/* = = body background == = = = = */

.secret {
	background: orange;
	padding: 4px;
}

#logo_nav {
	margin-bottom: 0.8em;
}

#loggedin {
	text-align: center;
	padding:2px 0;
	background: orange;
}

.darkgrey {
	background: #f4f4f4;
	background-image: url(bluegallery-giftpaper-kp_03.gif);
}

.okay {
	color:green;
}

.featurebackground{
	background:  #999;
}

.fb-like {
	margin-top: 5px;
}

h2.page_header{
	color: white;
	background:#555;
	padding-left:.2em;
	letter-spacing: 3px;
}

#special img {
	margin-bottom:5px;
}

ul.contactus{
	padding-left: 0;

}

ul.contactus li{
	list-style-type: none;
	display: block;
}

ul.contactus h3{
	margin-bottom: .5em;
}

ul.contactus input{
	padding: 1em 5px;
	border:1px silver solid;
}

#nav{
	margin-top: 100px;
}

h2.page_section{
	margin-top: 1em;
	clear: both;
	border-bottom: 1px solid silver;
	padding-bottom: 5px;
}

h2 small {
	color: #a7a2a2;
	font-size: .6em;
	font-weight: normal;
	font-style: italic;
}

/* @group Main Page Wrapper */

#mainpage {
	width: 1000px;
	margin: 30px auto 1em auto;
	padding-top: 10px;
	background-color: white;
	-moz-box-shadow: 0 0 5px #414141;
	-webkit-box-shadow: 0 0 5px #414141;
	box-shadow: 0 2px 5px #414141;
	position:relative;
}

#browse_our_collection div.index-thumbs:hover h2 a {
	color: #f77211;
}

/* @end */


#mainpage div.flexslider {
	margin-top: -2em;
	background: none;
}

.new_overlay {
	position: absolute;
	top: -1px;
	left: -1px;
}

/* @end */

/* @group Breadcrumbs */

p.breadcrumbs {
	background: white;
 	font-size: 1.6em;
 	font-weight: bold;
	color: silver;
	padding-bottom: 5px;
	margin-bottom: 0;
	border-bottom: 1px solid silver;
	border-top:1px solid silver;
}

p.breadcrumbs a{
	color: #444;
	text-decoration: none;
	font-size: 14px;
}

p.breadcrumbs a:hover{
	text-decoration: underline;
}

/* @end */
/* @group Product Page */

#variants h2 {
	margin-bottom: .0px;
}

li.variant_box {
	padding: 1px;
}

#product-name {
	float: left;
	margin-top: 20px;
	width: 460px;
}

/* @end */


/* @group About Page */

.gray{
	color: gray;
}



div#about-images {
	float: left;
	width: 300px;
}

ul#about-sections {
list-style-type: circle;
}

#about-sections li a {
	color: #666;
	font-size: 1.2em;
	text-decoration: none;
	line-height: 0;
}

#about-sections li a:hover {
	color: #f77211;

}

table{
	background-color: white;
}



tr {
	background-color: #f4f4f4;
}
td{
	padding: 4px;
	border-bottom: 2px solid white;
}

div#about-details {
	float: left;
	width: 550px;
	margin-left: 10px;
}

#about-images img {
	margin-bottom: 10px;
}

/* @end */

/* @group Homepage Featured */

#bg_featured {
margin-bottom: 1em;
}

#bg_featured img {
	float: left;
}

.centerimage {
	height: 130px;
	width:140px;
	display: table-cell;
	vertical-align: middle
}

 div.centerimage img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/* @end */

/* @group Homepage Resources */

.bg_resources {
background-color: #F7F7F7;
padding-top: 1em;
}

.footer_column {
	height:150px;
	float: left;
	text-align: left;
	display: block;
	width: 170px;
	padding-right: 20px;
	margin-right: 20px;
	border-right: 1px solid silver;
}

.footer_column.lastchild { 
	width:285px;
	margin-right: 0;
	border-right: none;
}

/* @end */


/* @group Footer */

#bg_footer {
color:gray;
border-top: 1px solid #555;
overflow: auto;
width:950px;
background-color: #f4f4f4;
margin-top: 5em;
padding-left: 25px;
padding-right: 25px;
padding-top: 2em;
padding-bottom: 2em;
}

/* @end */


/* @group Contact */

#contact-area {
	width: 600px;
	padding-top: 30px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
	font: 1.4em Helvetica, sans-serif;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #f77211;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	padding-top: 5px;
	font-size: 1.4em;
}

/* @end */



/* @group Category Pages */

div.list-of-categories {
	width: 670px;
	float: right;
}

#category-tag {
	clear: both;
	width: 100%;
	background-color: #000;
}

#category-tag p {
	padding: .2em;
	font-size: 1.5em;
	margin-bottom: 0;
	font-weight: bold;
	color: #fff;
	letter-spacing: 2px;
}



div.category-box {
	overflow: auto;
	clear: both;
	border-bottom: 1px dotted silver;
	padding: 14px;
	border-left: 1px dotted silver;
	margin-bottom: 10px;
}

div.category-box a{
	text-decoration: none;
	color: #333;
}

div.category-box a h3{
	font-weight: bold;
	color: #888;
}

div.category-box:hover a h3{
	font-weight: bold;
	color: #f77211;
}


div.category-box:hover {
	border-left: 5px solid #f77211;
	padding-left: 10px;
}
div.category-box:hover h3 a{
	color: #f77211;
}
div.details-box {
	float: left;
	width: 300px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 50px;
}

#main_content div.category-box:hover div.details-box h3 a {
	color: #f77211;
}


div#action-list-vertical {
	width: 400px;
	margin-top: 20px;
	float: left;
}

#product-image img, #product-image-vertical img {
	position: absolute;
	top: 2em;
	left: 2em;
}

div#right-column-content {
	float: left;
	width: 520px;
	border-right: 1px solid silver;
}

p.category-description {
	font-size: 1.2em;
}

#name_and_photo img {
	position: absolute;
	bottom:2em;
	max-height: 300px;
	max-width: 500px;
}

/* @end */


/* Below are temp selectors created for testing php. I could get rid of them later, but for now they are needed for functionality of test-website*/


.box {
	width: 180px;
	height: 180px;
	padding: 10px;
	margin-top: 15px;
	float: left;
}

li.variant_box {
	display: block;
	float: left;
	margin-right: 6px;
}

li.square_box_homepage {
	height:175px;
	width:175px;
	border: 1px solid #bcbcbc;
	float: left;
	text-align: center;
	display: block;
	position: relative;
	margin-left: 0px;
	margin-right: 16px;
	padding: 0;
}

li.square_box_homepage.accessories {
	background: url(175x175-accessories.jpg);
}
li.square_box_homepage.beds {
	background: url(175x175-beds.jpg);
}
li.square_box_homepage.dining {
	background: url(175x175-dining.jpg);
}
li.square_box_homepage.living {
	background: url(175x175-living.jpg);
}
li.square_box_homepage.office {
	background: url(175x175-office.jpg);
}

li.square_box_homepage h3 {
	color:white;
	position: absolute;
	bottom: 0;
	width:100%;
	margin-right: 0;
	background-color: black;
	margin-bottom: 0;
	padding:.3em 0;
	opacity: .5;
}
li.square_box_homepage:hover h3 {
	opacity: 1;
}

li.square_box {
	border: 1px solid #bcbcbc;
	float: left;
	text-align: center;
	width: 165px;
	height: 230px;
	display: block;
	position: relative;
	padding: 5px;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 16px;
}

li.square_box.last {
	margin-right: 0px;
	margin-left: 1px;
}

li.square_box_homepage.last {
	margin-right: 0px;
	margin-left: 1px;
}

ul.thumbnails {
	padding: 0px;
	margin: 0px;
}

#bg_thumbnails {
	margin-top: 15px;
}

li.square_box a {
	color: #333;
	text-decoration: none;
	font-size: 1.2em;
}



li.square_box:hover {
	border: 1px solid #f77211;
}

li.square_box:hover a{
	color: #f77211;
}

li.square_box div.product-details a {
	font-size: 1em;
	color: gray;
}
li.square_box:hover div.product-details a {
	color: #333;
}

div.product-details {
	border-top: 1px solid #f2f2f2;
	padding-top: 5px;
	margin-top: 10px;
}

#products-technical-vertical h2 {
	margin-top: 20px;
}

#we-offer {
	padding-top: 28px;
}

div.index-thumbs {
	text-align: center;
}

div#contact-us {
	display: block;
	margin-top: 35px;
	margin-left: 23px;
	float: right;
	font-size: .9em;
	color: gray;
}

#bg_header img {
	float: left;
}


.page_section {
	font: 2em georgia, serif;
	color: black;
	
}

div.sub-section{
	display: block;
	padding: 3px;
	margin-bottom: 1em;
	background-color: hsl(0, 0%, 97%);
	font-size: 11px;
	font-family: Arial, Verdana, 'Helvetica Neue', Helvetica, sans-serif;
	border-top: 1px solid hsl(0, 0%, 90%);
	border-bottom: 1px solid hsl(0, 0%, 90%);
}

div.even-more {
	text-align: right;
	padding: 0.5em;	
}

div#product_wrapper{
	margin: 2em 0;
}

div#name_and_photo{
	position: relative;
	border-right: 1px solid silver;
	height: 400px;
}


div#more_info{
	padding-left: 1em;
}

div.even-more a{
	color: #f77211;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
}

div.promotional-poster {
	float: left;
	margin-right: 16px;
}

div#sharing-menu-l4_v {
	display: block;
	margin-bottom: 1em;
}

div#sharing-tools {
	margin-top: 1em;
	width: 300px;
	height: 50px;
	display: block;
	float: left;
}

ul.list_of_variants {
	overflow: auto;
	padding: 0px;
	clear:both;
}

div#room-poster {
	width: 265px;
	display: block;
	top: 5 px;
	float: left;
}

/*	
Sharing Tools
*/

ul.sharing_tools {
	display: block;
	height: 1em;
	padding-bottom: 1em;
}

ul.sharing_tools li {
	float: left;
	margin-right: 1em;
	list-style: none;	
}

ul.sharing_tools li img {
	margin-top: 0em;
	margin-right: .5em;
}

ul.sharing_tools li a {
	text-decoration: none;
	font-size: 1.2em;
	color: #f67211;
}

ul.sharing_tools li a:hover {
	text-decoration: underline;
}

#loading_image {
	z-index: 8000;
	position: absolute;
	bottom: 6em;
	left: 6em;
}

div#topbar {
	background: #555;
	overflow: auto;
	width: 100%;
}

div #bar_container{
	padding-top: 5px;
	display: block;
	overflow: auto;
	width: 1000px;
	margin: 0 auto;
}

#topbar #bar_container ul {
	overflow: auto;
	padding:0;
	float: right;
	margin: 0;
}

div#topbar li {
	display: block;
	float: left;
	margin-right: 1em;
}

div#topbar li:last-child {
	margin-right:0;
}

#topbar a {
	color: #fff;
	text-decoration: none;
}
#topbar a:hover {
	text-decoration: underline;
}
form#search_form {
	display: block;
	float: left;
}

#topbar .social {
	background: url(icon_sprite.png) no-repeat 0 -35px;
}

#topbar .social.facebook{
	background-position: 0 -28px;
}
#topbar .social.twitter{
	background-position: 0 -59px;
}
#topbar .social.pinterest{
	background-position: 0 3px;
}

div#tarzan{
	color: #a8a8a8;
	width: 300px;
	padding: 10px 0;
	clear: none;
	float: left;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
}

ul.list_of_brands {
	padding: 0;
}

ul.list_of_brands li {
	float: left;
	list-style-type: none;
	padding-right: 15px;
	opacity:0.5;
}

ul.list_of_brands li:hover {
	opacity:1;
}
ul.list_of_brands li:last-child{
	padding-right: 0;
}

#bg_footer img {
	float: left;
	margin-right: 10px;
	clear: right;
}
#bg_footer ul {
	list-style-type: none;
}
#bg_footer ul li{
	text-transform: uppercase;
	line-height: 2.2em;
}
#bg_footer ul li a{
	color: #999;
	text-decoration: none;
}@

#bg_footer ul li a:hover{
	color: #000;
}
#mega-menu-1 li.active a {
	color:black;
}

h2.page_section_v {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-bottom: 0;
}

h3.valentine_subsection {
	color: #9f0702;
	padding-bottom: 3px;
	margin-bottom: 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

img.ribbon {
	position: absolute;
	left: -15px;
	top: 140px;
}

img.teaser {
	position: absolute;
	right: -15px;
	top: 20px;
}