.bgFeatures__outer{
	margin:0 auto;
	background-color:white;
}
.bgFeatures__inner{
	background-color:white;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.bgFeature{
	width:($bgContentMaxWidth - 40) / 3;
	@media all and (max-width:450px){
		width: calc(100% - 20px);
	}
}