body{
	padding-top:100px; // to account for fixed header element..
}
.layout__inner{
	max-width:$bgContentMaxWidth;
	margin:0 auto;
	@media all and (max-width : $bgContentMaxWidth){
		padding:0 20px;
	}
}