.navigation__link{
	display:inline-block;
	&.active{
		.navigation__item{
			border-bottom: 5px solid black;	
		}
		
	}
}
.navigation{
	width: calc(100% - 350px);
	display:flex;
	flex-direction:column;
	align-self:center;
	flex-basis:450px;
}

.navigation__list{
	display:flex;
	justify-content:space-between;
	padding:0;
}

.navigation__item{
	text-decoration:none;
	color:#444;
	padding:5px 10px;
	&:hover{
		border-bottom: 5px solid black;	
	}
}

.navigation--highlight{
	color:white;
	background:$bgMainColor;
	border-radius:10px;
	padding:10px 25px;
	&:hover{
		border-bottom:none;
		background:darken($bgMainColor, 10);
	}
}