.navigation__mobile_toggle{
	font-size: 20px;
	background:silver;
	display:inline-block;
	line-height:10px;
	height:40px;
	padding:15px;
	position:absolute;
	top:25px;
	right:10px;
	cursor:pointer;
	&:hover{
		color:white;
		background:darken(silver, 20);
	}
	display:none;
}

.navigation{
	width: calc(100% - 350px);
	display:flex;
	flex-direction:column;
	align-self:center;
	flex-basis:450px;
}

.navigation__link{
	display:inline-block;
	&.active{
		.navigation__item{
			color:silver;	
		}
		.navigation--highlight{
			color:white;
			border-bottom:none;
		}		
	}
}

.navigation__list{
	display:flex;
	justify-content:space-between;
	padding:0;
}

.navigation__item{
	text-decoration:none;
	color:#444;
	padding:5px 10px;
	&:hover{
		color:silver;	
	}
}

.navigation--highlight{
	color:white;
	background:$bgMainColor;
	border-radius:10px;
	padding:10px 25px;
	&:hover{
		color:white;
		background:darken($bgMainColor, 10);
	}
}