.projects__info{
	color: #1D1D1D;
	width: 33%;
	max-width: 450px;
	min-width: 280px;
	padding: 20px 40px;
	background: #B5B5B5;
	border: 1px solid black;
}
.projects__h2{
	color:#0A33AD;
	text-transform:uppercase;
}

.projects__p{

}