/* header */

@import "parts/navigation_menu";

body{
	background: url('subtle_white_feathers.png');
}

.font_sans{
	font-family: "Helvetica Neue", Arial, Sans-serif;
}

.font_serif{
	font-family: Georgia, Serif;
}

#slogan {
	h3 {
		color: #565656;
		background: #FAFAFA;
		padding: 7px 20px;
		font-size: 16px;
		border-bottom: 1px solid #D8D8D8;
	}
}

/* Slideshow */

$border-color: lighten(black, 50);
#slideshow{
	float: left;
	height: 347px; // effectively 349 with borders
	width: 824px; // effectively 825 with borders
	border-top: 1px solid $border-color;
	border-right: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	padding:0;
	margin:0;
}

#feat1{
	float: right;
	height: 173px; // effectively 175 with borders
	width: 173px; // unchanged
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
}

#feat2{
	float: right;
	height: 173px; //effectively 174 with border
	width: 173px; //unchanged
	border-bottom: 1px solid $border-color;
}


/* Products Grid */

li{
	&.square_box {
		//width : 1+1+16+165+5
		border: 1px solid #bcbcbc;
		float: left;
		text-align: center;
		width: 167px;
		height: 230px;
		display: block;
		position: relative;
		padding: 5px;
		margin-bottom: 15px;
		margin-left: 0px;
		margin-right: 15px;
		&.last{
			margin-right: 0px;
			margin-left: 1px;
		}
	}
}

